div.viewport {
    padding: 40px;
    margin: auto;
    background-color: antiquewhite
};
#myBtn {
    padding: 20px;
    margin: 10px;
}
h2 {
    font-family: monospace;
}
.bi.bi-clipboard-plus {
    font-size: 24px;
}
html {
    background-color: antiquewhite;
}